version: "3.2"

volumes:
  Backend_node_modules:
    driver: local
  Frontend_node_modules:
    driver: local
  mysqldata:
    driver: local

networks:
  mysql-phpmyadmin:
    name: mysql-phpmyadmin
    driver: bridge

services:
  backend:
    build: ./Backend/
    container_name: backend
    ports:
      - "4000:4000"
    volumes:
      - ./Backend:/app
      - Backend_node_modules:/app/node_modules
    depends_on:
      - db
    restart: always
    networks:
      - mysql-phpmyadmin
    environment:
      MYSQL_HOST: db
      MYSQL_USER: admin
      MYSQL_PASS: 'admin'
      MYSQL_DB: edara
      MYSQL_PORT: 3306
  db:
    image: mysql
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: edara
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    expose:
      - 3306
    volumes:
      - mysqldata:/var/lib/mysql
    networks:
      - mysql-phpmyadmin
  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - 8081:80
    networks:
      - mysql-phpmyadmin
    depends_on:
      - db
    volumes:
      - /sessions
  frontend:
    build: ./Frontend/
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"
    volumes:
      - ./Frontend:/app
      - Frontend_node_modules:/app/node_modules
    networks:
      - mysql-phpmyadmin
