@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Alata&family=Silkscreen:wght@400;700&display=swap'); */
body {
    margin: 0;
    padding: 0;
}


* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: bold; */
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

:root {
    --main-Color: #eceff5
}

header {
    margin-top: 0px;
    margin-bottom: 60px;
    box-shadow: 1px 1px 4px  #ececec;
    background-color: rgb(238, 238, 238);
    height: 70px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: silver; */
    padding-left: 20px;
    padding-right: 20px;
}

.container .web-title {
    padding-top: 0;
    font-family: "Pacifico", cursive;
    /* font-family: "Silkscreen", sans-serif; */
    /* font-family: "Alata", sans-serif; */
    font-size: 30px;
}

@media (min-width:992px) {
    .container {
        width: 960px;
    }

    .route::before {
        content: '';
        width: 0px;
        position: absolute;
        left: 6px;
        background-color: rgb(1, 101, 194);
        height: 2px;
        bottom: -5px;
        transition: 0.4s;
    }

    .links li:hover::before {
        width: 93%;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1190px;
    }
}



.links {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
   
}

.links ul {
    display: flex;
    list-style: none;
}

.links li {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
    position: relative;
    font-size: 15px;
}

header .user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    height: 33px;
    padding-top: 1px;
    
}

.user p {
    position: relative;
    margin-left: 10px;
}

header .user ul {
    position: absolute;
    left: -53.78px;
    top: calc(100% + -3px);
    background-color: white;
    padding: 0px;
    text-align: left;
    /* display: none; */
    border-radius: 10px;
    min-width: 150px;
    box-shadow: 1px 1px 6px rgb(187, 187, 187,.4);
}



header .user:hover ul {
    display: block;
    animation: user-menu 0.3s;
    animation-timing-function: ease;
}

@keyframes user-menu {
    0% {
        top: calc(100% + -10px);
        opacity: 0;
    }

    100% {

        top: calc(100% + -3px);
        opacity: 1;
    }
}

header .user ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
    position: absolute;
    right: 69px;
    /* top: -12px; */
    top: -20px;


}

.user ul li .logout {
    display: block;
    padding: 10px;
    margin-bottom: 2px;
    transition: 0.3s;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    text-align: center;
    /* background-color: red; */
}
.logout:hover{
    color: rgb(226, 44, 44);
}
.user ul li {
    margin: 0px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding-left: 10px;
}


@media (max-width:992px) {

    .menu-icon {
        padding-top: 6px;
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

    }

    .menu-icon span {
        background-color: #4b4a4a;
        margin-bottom: 5px;

    }

    .menu-icon span:first-child {
        height: 2px;
        width: 100%;
    }

    .menu-icon span:nth-child(2) {
        height: 2px;
        width: 100%;

    }

    .menu-icon span:last-child {
        height: 2px;
        width: 100%;
    }



    .links ul {
        background-color: var(--main-Color);
        position: absolute;

        padding: 0;
        margin: 0;
        min-width: 200px;
        top: calc(100% + 12px);
        display: none;
        right: -80px;
        border-radius: 10px;
        box-shadow: 0px 3px 5px 3px #b6c9f7;
        transition: 1s;
    }



    .links ul::before {
        content: '';
        border-width: 10px;
        border-color: transparent transparent red transparent;
        border-style: solid;
        position: absolute;
        right: 85px;
        top: -21px;
    }


    .links ul li a {
        display: block;
        padding: 10px;
        transition: 0.3s;
    }

    .links ul li a:hover {
        padding-left: 25px;
    }

    .links ul li {
        margin: 0px;
    }

    .links:hover ul {
        display: block;
        animation: menu 0.3s;
        animation-timing-function: ease;

    }

    @keyframes menu {
        0% {
            top: calc(100% + 3px);
            opacity: 0;
        }

        100% {
            position: absolute;
            top: calc(100% + 6px);
            opacity: 1;
        }
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .container {
        font-size: smaller;
    }

    .user p {
        top: -10px;
    }

}
.route{
    /* background-color: red; */
    height: 70px;
    /* text-align: center; */
    display: flex;
    align-items: center; 
    justify-content: center;
    /* padding: 5px; */
    border-bottom: 3px solid transparent;
    transition: .2s ease all ;
}
.active{
    border-bottom: 3px solid rgb(139, 169, 224);
}