@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section .page-name {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
section .page-name .header-container{
    margin-left: 70px;
    display: flex;
    align-items:baseline;
}
section .page-name .header-container .count{
    font-size: 15px;
    color: gray;
}
section .page-name .header-container .page-title{
    font-size: 30px;
    font-weight: 600;
    color: rgb(78, 78, 78);
}

.table-container{
    border: 2px solid rgb(230, 230, 230);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 30px;
}
section table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
    height: 200px;
    color: #2b2b2b;   

}


@media (min-width:576px) {
    section table {
        width: 550px;
    }
}
@media (min-width:768px) {
    section table {
        width: 700px;
    }
}
@media (min-width:992px) {
    section table {
        width: 900px;
    }
}
@media (min-width:1200px) {
    section table{
        width: 1100px;
    }
    section table tr td:last-child {
        width: 350px;
    }
}

section table thead th {
    height: 32px;
    padding: 5px 5px 20px 5px;
}
section table thead th , 
section table tr td{
    border-bottom: 1px solid rgb(219, 219, 219);
}

section table tbody td {
    text-align: center;
    
}

section table tbody td:last-child  {
    color: green;
}

@media (max-width: 600px) {
    section table {
        display: none;
    }
}

.buttons {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.logout-icon{
    font-size: 20px;
    color: #333;
}
.logout-icon:hover{
    color: rgb(216, 22, 22);
}
.button,.Productbutton {
    margin-left: auto;
    margin-right: auto;
    background-color: #648bc5;
    border-radius: 8px;
    border: 0px solid #333;
    cursor: pointer;
    padding: 8px;
    color: white;
    /* width: 100px; */
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: small;
}

.add .button{
    text-align: center;
    background-color: #5384ce;
    /* width: 200px; */
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
    color: white;
    /* background-color: rgb(199, 66, 66); */
}
.close-btn{
    color: #648bc5;

}
.close-btn:hover{
    color: #333;
}
.button,.add,.Productbutton {
    transition: 0.3s;
}
.button:hover,.Productbutton:hover {
    background-color: #5079b6;
    box-shadow: 1px 1px 6px rgb(139, 139, 139,.5);
}

table img {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-left: auto;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-content: end;
}
ul{
    margin-top: 50px;
    list-style: none;
    display: flex;
    align-items: center;
}

.page-btn{
    background-color: transparent;
    border: none;
    /* padding: 10px; */
    color: rgb(78, 78, 78);
    width: 30px;
    height: 30px;
}
.page-item-bar.activate .page-btn{
    background-color: #648bc5;
    border-radius: 5px;
    color: white;
}
.arrow{
    background-color: transparent;
    border: none;
    padding: 10px;
    color: #648bc5;
}